<?xml version="1.0" encoding="UTF-8"?>

<configuration>

    <property name="HOME_LOG" value="logs/app.log"/>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>${HOME_LOG}</file>
        <append>true</append>
        <immediateFlush>true</immediateFlush>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="logfile" level="warn" additivity="false">
        <appender-ref ref="FILE"/>
    </logger>

    <root level="debug">
        <appender-ref ref="FILE"/>
    </root>

</configuration>